<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>一言コメント</title>
</head>

<body>
    <h3>一言どうぞ</h3>
    <form th:action="@{/id}" th:object="${comment}" method="post">
        <label for="content">コメント：</label>
        <input type="text" th:field="*{content}">
        <button>登録</button>
        <br>
        <small style="color: red" th:errors="*{content}"></small>
    </form>

    <br>
    <h3>一覧</h3>
    <div th:each="comment : ${comments}">
        <div>[[${comment.id}]] - [[${comment.content}]]</div>
    </div>
</body>

</html>
